/ MAIN CONTENT SECTON
section.mainContent.clearfix.productsContent
  .container
    .row
      .col-md-3.conl-sm-4.col-xs-12.sideBar
        = render  "potepan/categories/product_category_panel", taxonomies: taxonomies
        .panel.panel-default.filterNormal
          .panel-heading
            | 色から探す
          .panel-body
            ul.list-unstyled
              li
                a href="#"
                  | ブラック
                  span
                    | (15)
              li
                a href="#"
                  | ホワイト
                  span
                    | (10)
              li
                a href="#"
                  | レッド
                  span
                    | (7)
              li
                a href="#"
                  | ブルー
                  span
                    | (12)
              li
                a href="#"
                  | オレンジ
                  span
                    | (12)
        .panel.panel-default.filterNormal
          .panel-heading
            | サイズから探す
          .panel-body
            ul.list-unstyled.clearfix
              li
                a href="#"
                  | S
                  span
                    | (15)
              li
                a href="#"
                  | M
                  span
                    | (10)
              li
                a href="#"
                  | L
                  span
                    | (7)
              li
                a href="#"
                  | XL
                  span
                    | (12)
      .col-md-9.col-sm-8.col-xs-12
        .row.filterArea
          .col-xs-6
            select#guiest_id1.select-drop name="guiest_id1"
              option value="0"
                | 並び替え
              option value="1"
                | 人気順
              option value="2"
                | 安い順
              option value="3"
                | 新着順
              option value="4"
                | 高い順
          .col-xs-6
            .btn-group.pull-right role="group"
              button.btn.btn-default.active type="button" onclick="window.location.href='product_grid_left_sidebar.html'"
                i.fa.fa-th aria-hidden="true"
                span
                  | Grid
              button.btn.btn-default type="button" onclick="window.location.href='product_list_left_sidebar.html'"
                i.fa.fa-th-list aria-hidden="true"
                span
                  | List
        .row
          = render partial: "product", collection: products
