.panel.panel-default
  .panel-heading
    | 商品カテゴリー
  .panel-body
    .collapse.navbar-collapse.navbar-ex1-collapse.navbar-side-collapse
      ul.nav.navbar-nav.side-nav
        - taxonomies.each do |taxonomy|
          li
            a href="javascript:;" data-toggle="collapse" data-target="##{taxonomy.name}"
              = taxonomy.name
              i.fa.fa-plus
            ul id=taxonomy.name class="collapse collapseItem"
              - taxonomy.taxons.each do |taxon|
                - if display_taxon?(taxon)
                  li
                    a href="#{taxon.id}"
                      i.fa.fa-caret-right aria-hidden="true"
                      = taxon.name
                      span
                      = "(#{taxon.all_products.count})"
