.col-sm-4.col-xs-12
  = link_to potepan_product_path(product.id)
    .productBox
      .productImage.clearfix
        = image_tag(product.display_image.attachment(:product), alt: product.name)
      .productCaption.clearfix
        h5 = product.name
        h3 = product.display_price
