/ LIGHT SECTION
section.lightSection.clearfix.pageHeader
  .container
    .row
      .col-xs-6
        .page-title
          h2 = product.name
      .col-xs-6
        ol.breadcrumb.pull-right
          li
            = link_to "Home", potepan_path
          li.active
            = product.name
