/ MAIN CONTENT
section.mainContent.clearfix
  .container
    .row.singleProduct
      .col-xs-12
        .media
          .media-left.productSlider
            #carousel.carousel.slide data-ride="carousel"
              .carousel-inner
                - product.master_images.each_with_index do |image, index|
                  .item class=(index.zero? ? "active" : "") data-thumb="#{index}"
                    = image_tag image.attachment(:large)
            .clearfix
              #thumbcarousel.carousel.slide data-interval="false"
                .carousel-inner
                  - product.master_images.each_with_index do |image, index|
                    .thumb data-target="#carousel" data-slide-to="#{index}"
                      = image_tag image.attachment(:small)
                a.left.carousel-control href="#thumbcarousel" role="button" data-slide="prev"
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control href="#thumbcarousel" role="button" data-slide="next"
                  span.glyphicon.glyphicon-chevron-right
          .media-body
            ul.list-inline
              li
                = link_to list_page(product)
                  i.fa.fa-reply aria-hidden="true"
                  | 一覧ページへ戻る
            h2 = product.name
            h3 = product.display_price
            p = product.description
            span.quick-drop
              select#guiest_id3.select-drop name="guiest_id3"
                option value="0" S
                option value="1" M
                option value="2" L
                option value="3" XL
            span.quick-drop.resizeWidth
              select#guiest_id4.select-drop name="guiest_id4"
                option value="1" 1
                option value="2" 2
                option value="3" 3
            .btn-area
              a.btn.btn-primary.btn-block href="cart_page.html"
                | カートへ入れる
                i.fa.fa-angle-right aria-hidden="true"
    .row.productsContent
      .col-xs-12
        .page-header
          h4 関連商品
      = render partial: "related_product", collection: ralated_products
