.col-md-3.col-sm-6.col-xs-12
  = link_to potepan_product_path(related_product.id)
    .productBox
      .productImage.clearfix
        = image_tag(related_product.display_image.attachment(:product), alt: related_product.name)
      .productCaption.clearfix
        h5 = related_product.name
        h3 = related_product.display_price
