/ HEAD
= csrf_meta_tags
meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=EDGE"
meta name="viewport" content="width=device-width, initial-scale=1"
/ SITE TITLE
title = full_title(page_title: yield(:title))
/ GOOGLE FONT
= stylesheet_link_tag("application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', media: "all")
= render "layouts/shim"
