/ HEADER
.header.clearfix
  / TOPBAR
  .topBar
    .container
      .row
        .col-md-6.hidden-sm.hidden-xs
          ul.list-inline
            li
              a href="#"
                i.fa.fa-twitter
            li
              a href="#"
                i.fa.fa-facebook
        .col-md-6.col-xs-12
          ul.list-inline.pull-right
            li
            li.dropdown.searchBox.active
              a#searchBox.dropdown-toggle data-toggle="dropdown" href="javascript:void(0)"
                i.fa.fa-search
              ul.dropdown-menu.dropdown-menu-right
                form#form01 action="product-grid-left-sidebar.html" method="post"
                  li
                    span.input-group
                      input.form-control aria-describedby="basic-addon2" name="searchWord" placeholder="Search…" type="text" autocomplete="off"
                      span#basic-addon2.input-group-addon.addPointer onclick="FormSubmit();" 検索
            li.dropdown
              a.dropdown-toggle data-toggle="dropdown disabled" href="cart-page.html"
                i.fa.fa-shopping-cart
  / NAVBAR
  nav.navbar.navbar-main.navbar-default role="navigation"
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand = link_to image_tag("img/logo.png", alt: "BIGBAG"), potepan_path
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            = link_to "Home", potepan_path
          li.dropdown.megaDropMenu
            a.dropdown-toggle aria-expanded="false" data-close-others="true" data-delay="300" data-hover="dropdown" data-toggle="dropdown" href="javascript:void(0)" Shop
