/ SIGN UP MODAL
#signup.modal.fade tabindex="-1" role="dialog"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true"
          | &times;
        h3.modal-title Create an account
      .modal-body
        form action="" method="POST" role="form"
          .form-group
            label for="signpu-email" Enter Email
            input#signup-email.form-control type="email"
          .form-group
            label for="sign-up-password" Password
            input#signup-password.form-control type="password"
          .form-group
            label form="signup-password-confirmation" Confirm Password
            input#signup-password-confirmation.form-control
          button.btn.btn-primary.btn-block type="submit" Sign up
