doctype html
html
  head
    = render "layouts/head"
  body
    .main-wrapper
      = render "layouts/header"
      = yield
      = render "layouts/footer"
    = render "layouts/login_modal"
    = render "layouts/signup_modal"
    = javascript_include_tag "application"
